.navBar{
    background: #512DA8;
    color: white;
}
.navBar a{
    color: white;
}

.titleBar{
    margin-top: 60px;
    margin-left: 10px;
}
.mid{
    background: white;
    padding-top: 20px;
    margin-bottom: 10px;
}
.btn-back{
    float: left;
    padding: 10px;
    font-size: 30px;
    color: white;
}
.rightBar{
    float: right;
    padding: 10px;
    font-size: 30px;
}
.title{
    float: left;
    width: auto;
    margin-top: -3px;
    padding-left: 10px;
}

.dropdown-menu{
    top: 40px;
    left: -120px;
}
.clear{
    clear: both;
}
/*END HEADER*/

.content-left .room{
    margin-left: 15px;
    color: red;
    font-size: 36px;
}
.content-left .schedule{
    margin-left: 15px;
    color: black;
    font-size: 36px;
}
.content-right > p{
    padding-top: 7px;
}
.subjects{
    margin-top: 5px;
    background: white;
    padding-bottom: 20px;
    padding-top: 10px;
}
p{
    font-size: 1.1em;
}
.col-xs-9>p{
    padding-top: 5px;
    height: 15px;
}
.smallDes{
    font-size: 0.8em
}
.hr{
    border-bottom: solid rgba(18, 63, 105, 0.37) 1px;
    margin-left: 35px;
}
.item-listview i{
    font-size: 32px;
    margin-left: 15px;
    margin-top: 5px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    text-transform: none;
}