<!DOCTYPE html>
<html lang="vi">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>Dịch vụ hỗ trợ gửi nhận yêu cầu sinh viên UET</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="../assets/dtui/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/dtui/css/main.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html" class="font-white padding-tb-5">
                    <h4>Student UET</h4>
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN MEGA MENU -->
            <div class="hor-menu hidden-sm hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="classic-menu-dropdown active">
                        <a href="index.html"> Trang chủ
                            <span class="selected"> </span>
                        </a>
                    </li>
                    <li class="mega-menu-dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown"
                           data-close-others="true"> Tạo yêu cầu
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 700px;">
                            <li>
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Đơn phổ biến</h3>
                                                </li>
                                                <li>
                                                    <a href="GiayChungNhan.html">Giấy chứng nhận</a>
                                                </li>
                                                <li>
                                                    <a href="CapBangDiem.html">Cấp bảng điểm</a>
                                                </li>
                                                <li>
                                                    <a href="CapLaiTheSinhVien.html">Cấp lại thẻ sinh viên</a>
                                                </li>
                                                <li>
                                                    <a href="XemLaiBaiThi.html">Xem lại bài thi</a>
                                                </li>
                                                <li>
                                                    <a href="HoanThi.html">Hoãn thi</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3></h3>
                                                </li>

                                                <li>
                                                    <a href="XacNhanDiNuocNgoai.html">Xác nhận đi nước ngoài</a>
                                                </li>
                                                <li>
                                                    <a href="CapGiayChungNhanTotNghiepTamThoi.html">Cấp giấy chứng nhận
                                                        tốt nghiệp tạm thời</a>
                                                </li>
                                                <li>
                                                    <a href="NghiHocCoThoiHan.html">Nghỉ học có thời hạn</a>
                                                </li>
                                                <li>
                                                    <a href="Tieptuchoc.html">Tiếp tục học</a>
                                                </li>
                                                <li>
                                                    <a href="XinThoiHoc.html">Xin thôi học</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3></h3>
                                                </li>
                                                <li>
                                                    <a href="ChungNhanConNoMon.html">Chứng nhận còn nợ môn</a>
                                                </li>
                                                <li>
                                                    <a href="HoanNopHocPhi.html">Hoãn nộp học phí</a>
                                                </li>
                                                <li>
                                                    <a href="MuonHoSo.html">Mượn hồ sơ</a>
                                                </li>
                                                <li>
                                                    <a href="TroCapXaHoi.html">Xác nhận trợ cấp xã hội</a>
                                                </li>
                                                <li>
                                                    <a href="VayVonNganHang.html">Xác nhận vay vốn ngân hàng</a>
                                                </li>
                                                <li>
                                                    <a href="XacNhanDiNuocNgoai.html">Xác nhận đơn đề nghị cấp tiền hỗ
                                                        trợ miễn giảm học
                                                        phí</a>
                                                </li>
                                                <li>
                                                    <button type="button" class="margin-top-10 btn white btn-outline">
                                                        Xem thêm
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
            <!--BEGIN SEARCH FORM-->
            <form class="search-form" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm..." name="query">
                    <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                </div>
            </form>
            <!--END SEARCH FORM-->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
               data-target=".navbar-collapse">
                <span></span>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu hidden-sm hidden-xs">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default"> 7 </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>
                                    <span class="bold">7 thông báo</span></h3>
                                <a href="DonDangXuLy.html">tất cả</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;"
                                    data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">hiện tại</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-success">
                                                            <i class="fa fa-plus"></i>
                                                        </span> Đã tiếp nhận Giấy chứng nhận </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">3 phút trước</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Đã xử lý xong Đơn xin bảng điểm </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">2 ngày trước</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> Đã có kết quả phúc khảo môn Toán. </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">1 tuần trước</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-info">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> Đã xử lý xong Giấy chứng nhận sinh viên</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <!--<img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg"/>-->
                            <span class="username username-hide-on-mobile"> Trần Minh Tuấn </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="UserProfileAccount.html">
                                    <i class="icon-user"></i> Thông tin cá nhân </a>
                            </li>
                            <li>
                                <a href="UserProfileAccount.html">
                                    <i class="icon-calendar"></i> Cấu hình tài khoản </a>
                            </li>
                            <li>
                                <a href="DonDangXuLy.html">
                                    <i class="icon-envelope-open"></i> Thông báo
                                    <span class="badge badge-danger"> 3 </span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="index_guest.html">
                                    <i class="icon-key"></i> Đăng xuất </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->

    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu  page-header-fixed hidden-sm hidden-xs" data-keep-expanded="false"
                    data-auto-scroll="true" data-slide-speed="200">

                    <li class="sidebar-search-wrapper">
                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <form class="sidebar-search  sidebar-search-bordered" action="page_general_search_3.html"
                              method="POST">
                            <a href="javascript:;" class="remove">
                                <i class="icon-close"></i>
                            </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                                <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </span>
                            </div>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>
                    <li class="nav-item start ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-home"></i>
                            <span class="title">Trang chủ</span>
                        </a>
                    </li>
                    <li class="heading">
                        <h3 class="uppercase">Danh sách yêu cầu có sẵn</h3>
                    </li>
                    <li class="nav-item active open ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-diamond"></i>
                            <span class="title">Đơn phổ biến</span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu" style="display: block;">

                            <li class="nav-item active open">
                                <a href="#" class="nav-link">Giấy chứng nhận</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Cấp bảng điểm</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Cấp lại thẻ sinh viên</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Xem lại bài thi</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Hoãn thi</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-puzzle"></i>
                            <span class="title">Đơn khác</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Xác nhận đi nước ngoài</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Cấp giấy chứng nhận tốt nghiệp tạm thời</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Nghỉ học có thời hạn</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Tiếp tục học</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Xin thôi học</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Chứng nhận còn nợ môn</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Hoãn nộp học phí</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Mượn hồ sơ</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Xác nhận trợ cấp xã hội</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Xác nhận vay vốn ngân hàng</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Xác nhận đơn đề nghị cấp tiền hỗ trợ miễn giảm
                                    học
                                    phí</a>
                            </li>
                        </ul>
                    </li>
                    <li class="heading">
                        <h3 class="uppercase">Liên hệ</h3>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-layers"></i>
                            <span class="title">Gửi yêu cầu khác</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-layers"></i>
                            <span class="title">Câu hỏi thường gặp</span>
                        </a>
                    </li>
                    <li class="heading">
                        <h3 class="uppercase">Trần Minh Tuấn</h3>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-basket"></i>
                            <span class="title">Thông báo trạng thái yêu cầu</span>

                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-docs"></i>
                            <span class="title">Cấu hình tài khoản</span>

                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-user"></i>
                            <span class="title">Thông tin cá nhân</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-social-dribbble"></i>
                            <span class="title">Đăng xuất</span>
                        </a>
                    </li>

                </ul>
                <!-- END SIDEBAR MENU -->
                <!-- END SIDEBAR MENU -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
                    <ul class="page-sidebar-menu visible-sm visible-xs  page-header-fixed" data-keep-expanded="false"
                        data-auto-scroll="true" data-slide-speed="200">
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        <!-- DOC: This is mobile version of the horizontal menu. The desktop version is defined(duplicated) in the header above -->
                        <li class="sidebar-search-wrapper">
                            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

                            <form class="sidebar-search sidebar-search-bordered" action="extra_search.html"
                                  method="POST">
                                <a href="javascript:;" class="remove">
                                    <i class="icon-close"></i>
                                </a>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                                    <span class="input-group-btn">
                                                <button class="btn submit">
                                                    <i class="icon-magnifier"></i>
                                                </button>
                                            </span>
                                </div>
                            </form>
                            <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        </li>
                        <li class="nav-item start active open">
                            <a href="index.html" class="nav-link nav-toggle"> Trang chủ
                                <span class="selected"> </span>

                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle"> Tạo yêu cầu
                                <span class="arrow"> </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle"> Đơn phổ biến
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Giấy chứng nhận</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Cấp bảng điểm</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Cấp lại thẻ sinh viên</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Xem lại bài thi</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Hoãn thi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle"> Đơn khác
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Xác nhận đi nước ngoài</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Cấp giấy chứng nhận tốt nghiệp tạm thời</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Nghỉ học có thời hạn</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Tiếp tục học</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Xin thôi học</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Chứng nhận còn nợ môn</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Hoãn nộp học phí</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Mượn hồ sơ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Xác nhận trợ cấp xã hội</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Xác nhận vay vốn ngân hàng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Xác nhận đơn đề nghị cấp tiền hỗ trợ miễn giảm
                                                học
                                                phí</a>
                                        </li>
                                        <li class="nav-item">
                                            <button type="button"
                                                    class=" pull-right margin-top-10 margin-bottom-10 margin-right-10 btn white btn-outline">
                                                Xem thêm
                                            </button>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <!-- END RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
                </div>
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
    </div>

    <div class="container-fluid">
        <!--BEGIN Cover-->
        <div class="row about-header">
            <div class="col-md-12">
                <h1>Student UET</h1>
                <h2>Trang hỗ trợ nhận gửi yêu cầu sinh viên</h2>
                <a href="DanhSachYeuCau.html" class="btn btn-lg btn-success">Gửi yêu cầu ngay</a>
            </div>
        </div>
        <!--END Cover-->
    </div>

    <div class="page-content-wrapper">
        <div class="page-content">
            <!--BEGIN: Intro-->
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-book-open font-red-sunglo theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Gửi yêu cầu </span>
                        </div>
                        <div class="card-desc">
                            <div class="margin-bottom-10"> Xin bảng điểm, hoãn thi, giấy chứng nhận sinh viên...
                            </div>
                            <a href="DanhSachYeuCau.html" class="btn blue btn-outline">Gửi yêu cầu</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-bell font-blue theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Theo dõi trạng thái đơn yêu cầu</span>
                        </div>
                        <div class="card-desc">
                            <div class="margin-bottom-10"> Hệ thống sẽ thông báo khi yêu cầu được hoàn thành</div>
                            <a href="DonDangXuLy.html" class="btn blue btn-outline">Danh sách đơn đang xử lý</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-bubbles font-purple-wisteria theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Gửi ý kiến trực tiếp </span>
                        </div>
                        <div class="card-desc">
                            <div class="margin-bottom-10"> Mọi ý kiến, thắc mắc có thể gửi trực tiếp thông qua
                                website
                            </div>
                            <a href="TrangLienHe.html" class="btn blue btn-outline">Gửi ý kiến</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-layers font-green-haze theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Tiếp nhận yêu cầu trực tuyến </span>
                        </div>
                        <div class="card-desc">
                            <div class="margin-bottom-10"> Phòng công tác sinh viên, phòng đào tạo sẽ tiếp nhận và
                                xử lý
                                trực tuyến
                            </div>
                            <a href="TrangLienHe.html" class="btn blue btn-outline">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--END: Intro-->
            <!--BEGIN: Contact-->
            <div class="c-content-feedback-1 c-option-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bubble font-blue-sharp"></i>
                                    <span class="caption-subject font-blue-sharp bold uppercase">Tin tức</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav nav-pills">
                                    <li class="active">
                                        <a href="#tab_2_1" data-toggle="tab"> Tiêu điểm </a>
                                    </li>
                                    <li>
                                        <a href="#tab_2_2" data-toggle="tab"> 24h qua </a>
                                    </li>
                                    <li>
                                        <a href="#tab_2_3" data-toggle="tab"> Sắp diễn ra </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab_2_1">
                                        <ul>
                                            <li>
                                                <a target="_blank"
                                                   href="http://uet.vnu.edu.vn/taxonomy/term/213/4831">Hội nghị quán
                                                    triệt nghị quyết đại hội đại biểu toàn quốc lần thứ XII</a>
                                                <br>16/09/2016
                                            </li>
                                            <li>
                                                <a target="_blank"
                                                   href="http://uet.vnu.edu.vn/taxonomy/term/301/4807">Vui Hội trăng
                                                    rằm năm 2016</a>
                                                <br>15/09/2016
                                            </li>
                                            <li>
                                                <a target="_blank"
                                                   href="http://uet.vnu.edu.vn/taxonomy/term/204/4791">Trường Đại
                                                    học Công nghệ khai giảng năm học 2016-2017</a>
                                                <br>05/09/2016
                                            </li>
                                            <li>
                                                <a target="_blank"
                                                   href="http://uet.vnu.edu.vn/taxonomy/term/191/4788">Gặp mặt chia
                                                    tay kế toán viên Đặng Thị Thanh hưởng chế độ nghỉ hưu</a>
                                                <br>30/08/2016
                                            </li>
                                            <li>
                                                <a target="_blank"
                                                   href="http://uet.vnu.edu.vn/taxonomy/term/407/4785">Cơ hội việc
                                                    làm của sinh viên khoa Cơ học kỹ thuật và Tự động hóa tại Nhật
                                                    Bản</a>
                                                <br>19/08/2016
                                            </li>
                                            <br><i><a target="_blank" href="http://uet.vnu.edu.vn/">Xem thêm...</a></i>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="tab_2_2">
                                        <ul>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Thông báo miễn học
                                                    và công nhận điểm cho sinh viên Trần Thị Minh Tuấn và Vũ Thị
                                                    Minh Tuấn</a>
                                                <br>01/10/2016
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Thông báo cuộc thi
                                                    "Ý tưởng Panasonic - Khám phá công nghệ tương lai"</a>
                                                <br>29/09/2016
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Thông báo cho phép
                                                    học viên Trần Thị Ánh Tuyết nghỉ học có thời hạn</a>
                                                <br>28/09/2016
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Thông báo cho phép
                                                    sinh viên Lại Thị Thảo Vân thôi học</a>
                                                <br>28/09/2016
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Trả lại học phí học
                                                    phần GDTC trong học kỳ phụ năm học 2015-2016</a>
                                                <br>27/08/2016
                                            </li>
                                            <br><i><a target="_blank" href="http://uet.vnu.edu.vn/">Xem thêm...</a></i>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="tab_2_3">
                                        <ul>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Thông Thông báo tổ
                                                    chức hội thảo khoa học dành cho nghiên cứu sinh năm 2016 miễn
                                                    học và công nhận điểm cho sinh viên Trần Thị Minh Tuấn và Vũ Thị
                                                    Minh Tuấn</a>
                                                <br>02/10/2016
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Hội thảo: “THE
                                                    ENCOUNTER BETWEEN TWO WORLDS: THE CLOUD COMPUTING AND
                                                    GEOSCIENCES”</a>
                                                <br>01/10/2016
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Buổi tọa đàm “Kiến
                                                    tạo Tầm nhìn” giữa Tổng Giám đốc Tổ hợp Samsung Việt Nam và sinh
                                                    viên ĐHQGHN</a>
                                                <br>28/09/2016
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">"Ngày hội việc làm
                                                    và nghề nghiệp với phần mềm nguồn mở"</a>
                                                <br>25/09/2016
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://uet.vnu.edu.vn/">Sinh viên với cuộc
                                                    thi "Thử thách sáng tạo cùng Samsung"</a>
                                                <br>19/09/2016
                                            </li>
                                            <br><i><a target="_blank" href="http://uet.vnu.edu.vn/">Xem thêm...</a></i>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-container bg-green">
                            <div class="c-content-title-1 c-inverse">
                                <h3 class="uppercase">Câu hỏi thường gặp</h3>
                                <div class="c-line-left"></div>
                                <p class="c-font-lowercase margin-bottom-15">Thông tin chi tiết các mẫu đơn yêu
                                    cầu và hướng
                                    dẫn</p>
                                <a href="FAQ.html" class="btn grey-cararra font-dark">Xem thêm</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--END: Contact-->
        </div>
    </div>

    <!--END Content index-->


    <!-- BEGIN FOOTER -->
    <div class="container">
        <div class="page-footer">
            <div class="page-footer-inner"> 2016 &copy; DTUI
                <a target="_blank" href="index.html"> Student UET</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
    </div>

    <!-- END FOOTER -->
</div>
<!-- BEGIN CORE PLUGINS -->
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="../assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>