<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>

    <link rel="stylesheet" href="../css/main.css">

</head>
<body>

<div class="container">
    <div class="header">
        <img src="../asset/img/header.png" alt="Ảnh trang chủ">
    </div>
    <div class="content">
        <div class="sidebar-left">
            <div>Menu</div>
        </div>
        <div class="main-content">
            <div class="title-content">
                <div>Tiêu đề</div>
            </div>
            <div class="description-content">
                <div>Bài viết</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>Footer</div>

    </div>

</div>


</body>
</html>