<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:font-family="http://www.w3.org/1999/xhtml" dir="ltr">
<!--begin head-->
<head profile="http://gmpg.org/xfn/11">
    <title>Tin tức | Student UET - Dịch vụ hỗ trợ nhận gửi yêu cầu</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="../assets/pages/css/blog.min.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="../assets/dtui/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/dtui/css/main.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../css/news-style.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/dtui/css/news_page_responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/dtui/css/news_page_style.css"/>

    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 95%;
            margin: auto;
        }
    </style>
</head>
<!-- end head -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
<div class="page-wrapper">
<!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html" class="font-white padding-tb-5">
                <h4 style="color: white; padding-top: 13px" >Student UET</h4>
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN MEGA MENU -->
        <div class="hor-menu hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <li class="classic-menu-dropdown">
                    <a href="index.html"> Trang chủ
                        <span class="selected"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown active">
                    <a href="news.html">Tin tức
                        <span class="selected"> </span>
                    </a>
                </li>
                <li class="mega-menu-dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown"
                       data-close-others="true"> Tạo yêu cầu
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 700px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <h3>Đơn phổ biến</h3>
                                            </li>
                                            <li>
                                                <a href="GiayChungNhan.html">Giấy chứng nhận</a>
                                            </li>
                                            <li>
                                                <a href="CapBangDiem.html">Cấp bảng điểm</a>
                                            </li>
                                            <li>
                                                <a href="CapLaiTheSinhVien.html">Cấp lại thẻ sinh viên</a>
                                            </li>
                                            <li>
                                                <a href="XemLaiBaiThi.html">Xem lại bài thi</a>
                                            </li>
                                            <li>
                                                <a href="HoanThi.html">Hoãn thi</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <h3></h3>
                                            </li>

                                            <li>
                                                <a href="XacNhanDiNuocNgoai.html">Xác nhận đi nước ngoài</a>
                                            </li>
                                            <li>
                                                <a href="CapGiayChungNhanTotNghiepTamThoi.html">Cấp giấy chứng nhận
                                                    tốt nghiệp tạm thời</a>
                                            </li>
                                            <li>
                                                <a href="NghiHocCoThoiHan.html">Nghỉ học có thời hạn</a>
                                            </li>
                                            <li>
                                                <a href="Tieptuchoc.html">Tiếp tục học</a>
                                            </li>
                                            <li>
                                                <a href="XinThoiHoc.html">Xin thôi học</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <h3></h3>
                                            </li>
                                            <li>
                                                <a href="ChungNhanConNoMon.html">Chứng nhận còn nợ môn</a>
                                            </li>
                                            <li>
                                                <a href="HoanNopHocPhi.html">Hoãn nộp học phí</a>
                                            </li>
                                            <li>
                                                <a href="MuonHoSo.html">Mượn hồ sơ</a>
                                            </li>
                                            <li>
                                                <a href="TroCapXaHoi.html">Xác nhận trợ cấp xã hội</a>
                                            </li>
                                            <li>
                                                <a href="VayVonNganHang.html">Xác nhận vay vốn ngân hàng</a>
                                            </li>
                                            <li>
                                                <a href="XacNhanDiNuocNgoai.html">Xác nhận đơn đề nghị cấp tiền hỗ
                                                    trợ miễn giảm học
                                                    phí</a>
                                            </li>
                                            <li>
                                                <button type="button" class="margin-top-10 btn white btn-outline">
                                                    Xem thêm
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- END MEGA MENU -->
        <!--BEGIN SEARCH FORM-->
        <form class="search-form" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm..." name="query">
                <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
            </div>
        </form>
        <!--END SEARCH FORM-->

        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu hidden-sm hidden-xs">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-default"> 7 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>
                                <span class="bold">7 thông báo</span></h3>
                            <a href="DonDangXuLy.html">tất cả</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 250px;"
                                data-handle-color="#637283">
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">hiện tại</span>
                                        <span class="details">
                                                        <span class="label label-sm label-icon label-success">
                                                            <i class="fa fa-plus"></i>
                                                        </span> Đã tiếp nhận Giấy chứng nhận </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">3 phút trước</span>
                                        <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Đã xử lý xong Đơn xin bảng điểm </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">2 ngày trước</span>
                                        <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> Đã có kết quả phúc khảo môn Toán. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">1 tuần trước</span>
                                        <span class="details">
                                                        <span class="label label-sm label-icon label-info">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> Đã xử lý xong Giấy chứng nhận sinh viên</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->

                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <!--<img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg"/>-->
                        <span class="username username-hide-on-mobile"> Trần Minh Tuấn </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="UserProfileAccount.html">
                                <i class="icon-user"></i> Thông tin cá nhân </a>
                        </li>
                        <li>
                            <a href="UserProfileAccount.html">
                                <i class="icon-calendar"></i> Cấu hình tài khoản </a>
                        </li>
                        <li>
                            <a href="DonDangXuLy.html">
                                <i class="icon-envelope-open"></i> Thông báo
                                <span class="badge badge-danger"> 3 </span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="index_guest.html">
                                <i class="icon-key"></i> Đăng xuất </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->

            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- Inner Page Main Banner __________________ -->
<div class="page-container">
    <div class="page-container"></div>
</div>
<!-- /.inner-page-banner -->

<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="container"
     style="padding: 0;border-radius:8px;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="col-md-12" style=" height: 500px ; margin-bottom: 50px; padding: 0">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" src="../images/go cua.jpg" alt="gõ cửa mùa thi .jpg"
                         style="width: 1700px; height: 500px">
                    <div class="carousel-caption">
                        <h1 style="color: white"><b>Gõ cửa mùa thu</b></h1>
                        <h3 style="color: white"><b>Chương trình chào đón tân sinh viên năm 2016 của đại học công nghệ</b></h3>
                    </div>
                </div>

                <div class="item">
                    <img class="img-responsive" src="../images/clc30tr.jpg" alt="phòng tự học .jpg"
                         style="width: 1700px; height: 500px"/>
                    <div class="carousel-caption">
                        <h1 style="color: white"><b>Phòng tự học độc đáo</b></h1>
                        <h3 style="color: white"><b>Phòng tự học độc đáo, mới lạ của lớp công nghệ thông tin chất lượng cao</b></h3>
                    </div>
                </div>

                <div class="item">
                    <img class="img-responsive" src="../images/hoi_thao.png" alt="hội thảo khởi nghiệp .png"
                         style="width: 1700px; height: 500px"/>
                    <div class="carousel-caption">
                        <h1 style="color: white"><b>Hội thảo thực tế khởi nghiệp</b></h1>
                        <h3 style="color: white"><b>Hội thảo do trường đại học công nghệ tổ chức, nhiều giám đốc trẻ tham gia</b></h3>
                    </div>
                </div>

                <div class="item">
                    <img class="img-responsive" src="../images/honda.jpg" alt="giải honda .jpg"
                         style="width: 1700px; height: 500px">
                    <div class="carousel-caption">
                        <h1 style="color: white"><b>Thành tích top 30 giải Honda YES 2014</b></h1>
                        <h3 style="color: white"><b>11 sinh viên Đại học Công nghệ xuất sắc đạt top 30 giải Honda YES 2014</b></h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="col-md-12" style="padding: 0">
            <div id="div1" class="col-md-3" style="margin-bottom: 20px ; width: auto; border-radius: 3px">
                <a id="new-link" href="AllNews.html" style="color: #0033cc; text-decoration: none ">
                    <h2>Tin nổi bật</h2>
                </a>
            </div>
            <div class="col-md-12" style="padding: 0">
                <div class="col-md-4 "
                     style=" margin-bottom: 0; padding-right: 10px; height: auto;">
                     <div style="background-color:white">
                        <a href="Details.html">
                            <img class="img-responsive" src="../images/clc30tr.jpg" alt="phòng tự học.jpg"
                                 style="height: 180px; width: 335px">
                        </a>
                        <div class="card_desc" style="margin-top: 0; padding: 5px;height: 110px; overflow: hidden">
                            <h4 class="blog-title blog-post-title">
                                <a href="Details.html"><b>Phòng tự học độc đáo lớp chất lượng cao</b></a>
                            </h4>
                            <div class="blog-post-foot" style="padding-top: 10px">
                                <div class="blog-post-meta">
                                    <i class="icon-calendar font-blue" style="float:left"></i>
                                    <a href="javascript:;">24 tháng 10, 2016</a>
                                </div>
                                <div class="blog-post-meta" style="float: left;">
                                    <i class="icon-bubble font-blue"></i>
                                    <a href="Details.html">14 Bình luận</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"
                     style=" margin-bottom: 0;padding-right: 10px; height: auto">
                     <div style="background-color: white">
                    <a href="Details.html">
                        <img class="img-responsive" src="../images/nau_an.jpg" alt="nam sinh thi nấu ăn.jpg"
                             style="height: 180px;  width: 335px">
                    </a>
                    <div class="card_desc" style="height: 110px; overflow: hidden; margin-top: 0; padding: 5px">
                        <h4 class="blog-title blog-post-title">
                            <a href="Details.html"><b>Nam sinh uet thi nấu ăn chào mừng 20/10</b></a>
                        </h4>
                        <div class="blog-post-foot" style="padding-top: 10px">
                            <div class="blog-post-meta">
                                <i class="icon-calendar font-blue" style="float: left"></i>
                                <a href="javascript:;">24 tháng 10, 2016</a>
                            </div>
                            <div class="blog-post-meta" style="float: left;">
                                <i class="icon-bubble font-blue"></i>
                                <a href="Details.html">14 Bình luận</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4"
                     style=" margin-bottom: 0;padding-right: 10px; height: auto;">
                     <div style="background-color: white">
                    <a href="Details.html">
                        <img class="img-responsive" src="../images/hoi_thao.png" alt="hội thảo công nghệ.png"
                             style="height: 180px;  width: 335px">
                    </a>
                    <div class="card_desc" style="height: 110px; overflow: hidden; margin-top: 0; padding: 5px">
                        <h4 class="blog-title blog-post-title">
                            <a href="Details.html"><b>Hội thảo thực tế khởi nghiệp ngành CNTT</b></a>
                        </h4>
                        <div class="blog-post-foot" style="padding-top: 10px">
                            <div class="blog-post-meta">
                                <i class="icon-calendar font-blue" style="float: left;"></i>
                                <a href="javascript:;">24 tháng 10, 2016</a>
                            </div>
                            <div class="blog-post-meta" style="float: left">
                                <i class="icon-bubble font-blue"></i>
                                <a href="Details.html">14 Bình luận</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding: 0; padding-top: 30px">
            <div id="div1" class="col-md-3" style="margin-bottom: 20px ; width: auto; border-radius: 3px">
                <a id="new-link" href="AllNews.html" style="color: #0033cc; text-decoration: none">
                    <h2>Tất cả tin tức</h2>
                </a>
            </div>
             <div class="col-md-12" style="padding: 0">
                        <div class="col-md-4" style="height: 160px;">
                            <a href="Details.html">
                                <img class="img-responsive" src="../images/go cua.jpg" alt="go cua.jpg" style="height: 150px; width: 300px" >
                            </a>
                        </div>
                        <div class="col-md-8" style="height: 160px ;padding:0">
                            <div class="col-md-12" style="height: 160px; overflow: hidden; margin-top: 0; padding: 0">
                                <h4 class="blog-title blog-post-title" style="margin-top: 0; padding: 0">
                                    <a href="Details.html"  style="text-decoration: none"><b>Gõ cửa mùa thu 2016 - Chương trình chào đón tân sinh viên k61</b></a>
                                </h4>
                                <div class="blog-post-foot" style="height:20px;margin-top: 0;">
                                    <div class="blog-post-meta"  style="float:left">
                                        <i class="icon-calendar font-blue"></i>
                                            <a href="javascript:;" style="text-decoration: none">21 tháng 10, 2016</a>
                                        </div>
                                    <div class="blog-post-meta" style="float: left; margin-left: 40px">
                                        <i class="icon-bubble font-blue"></i>
                                            <a href="Details.html" style="text-decoration: none">14 Bình luận</a>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 75px; overflow: hidden;padding-left:0;padding-right:0;margin-top:5px">
                                    Ngày 21/10, Ban chấp hành Đoàn thanh niên Trường Đại học Công nghệ đã tổ chức “Gõ cửa mùa thu 2016 - Chương trình chào đón tân sinh viên k61”.Tham dự hội thi gồm PGS.TS. Nguyễn Việt Hà- Hiệu trưởng Nhà trường, 
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-12" style="padding: 0">
                        <div class="col-md-4" style="height: 160px;">
                            <a href="Details.html">
                                <img class="img-responsive" src="../images/VNU - TT Nguyen Xuan Phuc lam viec tai DHQGHN va phat dong Thanh nien khoi nghiep (18).jpg" alt="VNU - TT Nguyen Xuan Phuc lam viec tai DHQGHN va phat dong Thanh nien khoi nghiep (18).jpg" style="height: 150px; width: 300px" >
                            </a>
                        </div>
                        <div class="col-md-8" style="height: 160px ;padding:0">
                            <div class="col-md-12" style="height: 160px; overflow: hidden; margin-top: 0; padding: 0">
                                <h4 class="blog-title blog-post-title" style="margin-top: 0; padding: 0">
                                    <a href="Details.html"  style="text-decoration: none"><b>Thủ tướng Nguyễn Xuân Phúc: ĐHQGHN cần tiên phong trong xây dựng quốc gia khởi nghiệp</b></a>
                                </h4>
                                <div class="blog-post-foot" style="height:20px;margin-top: 0;">
                                    <div class="blog-post-meta"  style="float:left">
                                        <i class="icon-calendar font-blue"></i>
                                            <a href="javascript:;" style="text-decoration: none">16 tháng 10, 2016</a>
                                        </div>
                                    <div class="blog-post-meta" style="float: left; margin-left: 40px">
                                        <i class="icon-bubble font-blue"></i>
                                            <a href="Details.html" style="text-decoration: none">5 Bình luận</a>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 75px; overflow: hidden;padding-left:0;padding-right:0;margin-top:5px">
                                     Ngày 16/10/2016, Thủ tướng Chính phủ Nguyễn Xuân Phúc đã tới
                                    thăm và làm việc với lãnh đạo chủ chốt của Đại học Quốc gia Hà Nội (ĐHQGHN).
                                    Tham dự buổi làm việc có đồng chí Phùng Xuân Nhạ - Ủy viên BCH TW Đảng, Bộ trưởng Bộ Giáo dục và Đào tạo;
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-12" style="padding: 0">
                        <div class="col-md-4" style="height: 160px;">
                            <a href="Details.html">
                                <img class="img-responsive" src="../images/nau_an.JPG" alt="nau_an.JPG"style="height: 150px; width: 300px" >
                            </a>
                        </div>
                        <div class="col-md-8" style="height: 160px ;padding:0">
                            <div class="col-md-12" style="height: 160px; overflow: hidden; margin-top: 0; padding: 0">
                                <h4 class="blog-title blog-post-title" style="margin-top: 0; padding: 0">
                                    <a href="Details.html"  style="text-decoration: none"><b>Hội thi nấu ăn chào mừng ngày phụ nữ Việt Nam 20/10</b></a>
                                </h4>
                                <div class="blog-post-foot" style="height:20px;margin-top: 0;">
                                    <div class="blog-post-meta"  style="float:left">
                                        <i class="icon-calendar font-blue"></i>
                                            <a href="javascript:;" style="text-decoration: none">24 tháng 10, 2016</a>
                                        </div>
                                    <div class="blog-post-meta" style="float: left; margin-left: 40px">
                                        <i class="icon-bubble font-blue"></i>
                                            <a href="Details.html" style="text-decoration: none">4 Bình luận</a>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 75px; overflow: hidden;padding-left:0;padding-right:0;margin-top:5px">
                                   Ngày 20/10, Ban chấp hành Công đoàn Trường Đại học Công nghệ đã tổ chức “Hội thi nấu ăn chào mừng ngày phụ nữ Việt Nam 20/10”.Tham dự hội thi gồm PGS.TS. Nguyễn Việt Hà- Hiệu trưởng Nhà trường, TS. Nguyễn Anh Thái- Phó Hiệu trưởng, PGS.TS. Trịnh Anh Vũ- Chủ tịch Công đoàn trường cùng đông đảo, cán bộ viên chức trong Trường.  
                                </div>
                            </div>
                        </div>
                </div>

            <a href="AllNews.html"  style="float: right; padding: 3px;background-color: white; border: 1px solid;border-radius: 4px">
                xem thêm...
            </a>
        </div>
        <div class="col-md-12" style="padding: 0; margin-bottom: 10px">
            <div id="div1" class="col-md-3" style="margin-bottom: 20px ; width: auto; border-radius: 3px">
                <a id="new-link" href="AllNews.html" style="color: #0033cc; text-decoration: none">
                    <h2>Sự kiện</h2>
                </a>
            </div>
            <div class="col-md-12" style="padding: 0">
                <div class="col-md-4"
                     style=" margin-bottom: 0; padding-right: 10px; height: auto;">
                     <div style="background-color:white">
                    <a href="Details.html">
                        <img class="img-responsive" src="../images/clc30tr.jpg" alt="phòng tự học.jpg"
                             style="height: 180px;  width: 335px">
                    </a>
                    <div class="card_desc" style="margin-top: 0; padding: 5px; height: 110px; overflow: hidden">
                        <h4 class="blog-title blog-post-title">
                            <a href="Details.html"><b>Phòng tự học độc đáo lớp chất lượng cao</b></a>
                        </h4>
                        <div class="blog-post-foot" style="padding-top: 10px">
                            <div class="blog-post-meta">
                                <i class="icon-calendar font-blue" style="float: left;"></i>
                                <a href="javascript:;">24 tháng 10, 2016</a>
                            </div>
                            <div class="blog-post-meta" style="float: left;">
                                <i class="icon-bubble font-blue"></i>
                                <a href="Details.html">14 Bình luận</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4"
                     style="margin-bottom: 0; padding-right: 10px; height: auto;">
                     <div style="background-color: white">
                    <a href="Details.html">
                        <img class="img-responsive" src="../images/nau_an.jpg" alt="nam sinh thi nấu ăn.jpg"
                             style="height: 180px;  width: 335px">
                    </a>
                    <div class="card_desc" style="height: 110px; overflow: hidden; margin-top: 0; padding: 5px">
                        <h4 class="blog-title blog-post-title">
                            <a href="Details.html"><b>Hội thi nấu ăn chào mừng ngày phụ nữ Việt Nam 20/10</b></a>
                        </h4>
                        <div class="blog-post-foot" style="padding-top: 10px">
                            <div class="blog-post-meta">
                                <i class="icon-calendar font-blue" style="float: left;"></i>
                                <a href="javascript:;">24 tháng 10, 2016</a>
                            </div>
                            <div class="blog-post-meta" style="float: left;">
                                <i class="icon-bubble font-blue"></i>
                                <a href="Details.html">14 Bình luận</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 0; padding-right: 10px; height: auto; ">
                <div style="background-color: white">
                    <a href="Details.html">
                        <img class="img-responsive" src="../images/doi_sach.jpg" alt="ngày hội đổi sách.jpg"
                             style="height: 180px;  width: 335px">
                    </a>
                    <div class="card_desc" style="height: 110px; overflow: hidden; margin-top: 0; padding: 5px">
                        <h4 class="blog-title blog-post-title">
                            <a href="Details.html"><b>Ngày hội trao đổi sách chào tân sinh viên K61</b></a>
                        </h4>
                        <div class="blog-post-foot" style="padding-top: 10px">
                            <div class="blog-post-meta">
                                <i class="icon-calendar font-blue" style="float: left;"></i>
                                <a href="javascript:;">10 tháng 10, 2016</a>
                            </div>
                            <div class="blog-post-meta" style="float: left;">
                                <i class="icon-bubble font-blue"></i>
                                <a href="Details.html">14 Bình luận</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-content-2">
        <div class="row">
            <div class="col-lg-3">
                <div class="blog-single-sidebar bordered blog-container" style="background-color: #FAFAFA">
                    <div class="blog-single-sidebar-search">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control" placeholder="Tìm kiếm"> </div>
                    </div>

                    <div class="blog-single-sidebar-tags">
                        <h3 class="blog-sidebar-title uppercase" >Tags</h3>
                        <ul class="blog-post-tags" >
                            <li class="uppercase">
                                <a href="javascript:;">Sinh viên</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">cuộc thi</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">tuyển dụng</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">nghiên cứu khoa học</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">học bổng</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">hợp tác quốc tế</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">kỷ yếu</a>
                            </li>
                        </ul>
                    </div>

                    <div class="blog-single-sidebar-ui">
                        <h3 class="blog-sidebar-title uppercase">THƯ VIỆN ẢNH</h3>
                        <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
                            <!-- Indicators -->
                            <ol class="carousel-indicators" style="margin-top: 10px">
                                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel1" data-slide-to="1"></li>
                                <li data-target="#myCarousel1" data-slide-to="2"></li>
                                <li data-target="#myCarousel1" data-slide-to="3"></li>
                                <li data-target="#myCarousel1" data-slide-to="4"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">

                                <div class="item active">
                                    <img class="img-responsive" src="../images/1.jpg"/>
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="../images/2.jpg"/>
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="../images/3.jpg"/>
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="../images/4.jpg"/>
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="../images/5.jpg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->

<!-- Footer ______________________________ -->
<div class="page-container">
        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-about">
                            <h4>VỀ CHÚNG TÔI</h4>
                            <p>Trường Đại học Công nghệ là trường trực thuộc Đại học Quốc gia Hà Nội, 144 Xuân Thủy -
                                Cầu Giấy - Hà Nội</p>
                            <ul>
                                <li><a href="#" class="tran3s round-border icon"><i class="fa fa-facebook"
                                                                                    aria-hidden="true"></i></a></li>
                                <li><a href="#" class="tran3s round-border icon"><i class="fa fa-twitter"
                                                                                    aria-hidden="true"></i></a></li>
                                <li><a href="#" class="tran3s round-border icon"><i class="fa fa-google-plus"
                                                                                    aria-hidden="true"></i></a></li>
                                <li><a href="#" class="tran3s round-border icon"><i class="fa fa-pinterest"
                                                                                    aria-hidden="true"></i></a></li>
                            </ul>
                        </div> <!-- /.footer-about -->

                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer-contact">
                            <h4>LIÊN HỆ</h4>
                            <ul>
                                <li>
                                    <i class="fa fa-phone"></i> +84 123456789
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i> studentUET@uet.vnu.edu.vn
                                </li>
                                <li><i class="fa fa-map-marker"></i>144 Xuân Thủy - Cầu Giấy - Hà Nội
                                </li>
                            </ul>
                        </div> <!-- /.footer-contact -->

                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 footer-quick-link">
                            <h4>LIÊN KẾT</h4>
                            <ul>
                                <li><a href="index.html" class="tran3s"><i class="fa fa-caret-right"></i>
                                    Student UET</a></li>
                                <li><a href="news.html" class="tran3s"><i class="fa fa-caret-right"></i>
                                    Tin tức</a></li>
                                <li><a href="http://uetmail.vnu.edu.vn" class="tran3s"><i class="fa fa-caret-right"></i> Mail
                                    UET</a></li>
                                <li><a href="http://fit.uet.vnu.edu.vn/" class="tran3s"><i
                                        class="fa fa-caret-right"></i> FIT</a>
                                </li>
                                <li><a href="http://uet.vnu.edu.vn/" class="tran3s"><i class="fa fa-caret-right"></i>
                                    Đại học Công nghệ</a></li>
                                <li><a href="http://vnu.edu.vn/" class="tran3s"><i class="fa fa-caret-right"></i>
                                    Đại học Quốc gia</a></li>
                            </ul>
                        </div> <!-- /.footer-quick-link -->

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-event">
                            <h4>THƯ BÁO</h4>
                            <ul>Đăng ký để nhận tất cả tin tức</ul>
                            <div class="subscribe-banner">
                                <form action="#">
                                    <input type="email" placeholder="Địa chỉ email">
                                    <button class=" tran3s ">Đăng ký</button>
                                </form>
                            </div>
                        </div> <!-- /.footer-event -->

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.top-footer -->

            <div class="bottom-footer">
                <p>Copyright 2016 &copy; DTUI <span>|</span> <a href="index.html"
                                                                class="tran3s"
                                                                target="_blank"> Student UET </a>
                </p>
            </div> <!-- /.bottom-footer -->

        </footer>
    </div>


<!-- BEGIN CORE PLUGINS -->

<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="../assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>
