/*Common*/

.margin-top-20 {
    margin-top: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

/* Wide card with share menu button */
.demo-card-wide.mdl-card {
    width: 100%;
}

.demo-card-wide > .mdl-card__title {
    color: #3366cc;
    /*height: 400px;*/
    /*background: url('../assets/demos/welcome_card.jpg') center / cover;*/
}

.demo-card-wide > .mdl-card__menu {
    color: #3366cc;
}

/*override*/

.mdl-card__supporting-text {
    width: 100% !important;
}